{% extends "base.html" %}
{% block title %}Submit Story{% endblock title %}

{% block content %}

<div class="container mt-5">
    <h2>Share your story to the timeline:</h2>
    </br>
    <form method='POST'> {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="title">* Title:</label>
            <input type="text" class="form-control col-md-8 col-lg-6" required id="title" placeholder="Enter a Title"
                name="title">
        </div>
        <div class="form-group">
            <label for="story">* Story:</label>
            <textarea type="text" rows="4" class="form-control col-md-8 col-lg-6" required id="story"
                placeholder="Enter your Story" name="story"></textarea>
        </div>
        <div class="form-group">
            <label for="startDate">* Event Date:</label>
            <input type="date" class="form-control col-8 col-sm-5 col-md-4 col-lg-3 col-xl-2" required id="startDate"
                placeholder="Enter a date" name="startDate">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input id="endCheck" class="form-check-input" type="checkbox"> Add End Date?
            </label>
        </div>
        <div style="display: none;" id="end" class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" class="form-control col-8 col-sm-5 col-md-4 col-lg-3 col-xl-2" id="endDate"
                placeholder="Enter a date" name="endDate">
        </div>
        </br>

        <h3>Media</h3>
        <p class="mt-3"> Click <a data-toggle="modal" href="#myModal">here</a> to see list of accepted media sources.</p>

        <div class="form-group">
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">



                        <!-- Modal body -->
                        <div class="modal-body">
                            <dl>
                                <dt>Image</dt>
                                <dd>If your URL ends in <code>jpg</code>, <code>gif</code>, <code>png</code> or
                                    <code>jpeg</code>, it will be used as the source for an image tag. It should also
                                    work if there is a <a href="https://en.wikipedia.org/wiki/Query_string">query
                                        string</a> after the extension, perhaps specifying dynamic width and height
                                    values.
                                </dd>

                                <dt>Online Videos</dt>
                                <dd>Use the URL for the page of the video for <a href="http://vimeo.com">Vimeo</a>, <a
                                        href="http://DailyMotion.com">DailyMotion</a>, <a
                                        href="http://Vine.co">Vine</a>, and <a href="http://youtube.com/">YouTube</a>.
                                    Timeline honors <a href="http://youtubetime.com/">Youtube start-at time
                                        parameters</a>.</dd>

                                <dt>Video Files</dt>
                                <dd>Use a link to a video file on the internet. Timeline currently supports
                                    <code>.mp4</code> files.</dd>

                                <dt>Audio Files</dt>
                                <dd>Use a link to a video file on the internet. Timeline currently supports
                                    <code>.mp3</code>, <code>.m4a</code>, and <code>.wav</code> files.</dd>

                                <dt>SoundCloud</dt>
                                <dd>Use the URL for the <a href="http://soundcloud.com">SoundCloud</a> clip page.</dd>

                                <dt>Spotify</dt>
                                <dd>Supports use of tracks, albums, and user playlists. Use the URL obtained from
                                    clicking on "Copy Spotify URL."</dd>

                                <dt>Twitter</dt>
                                <dd>Use the <a href="http://twitter.com">Twitter</a> embed code, or the URL of the
                                    tweet's page.</dd>

                                <dt>Google Maps</dt>
                                <dd>Use the URL for the <a href="http://google.com/maps">Google Maps</a> page (unless
                                    you are using Streetview, which currently requires the embed URL found in the
                                    "Share" section). Coordinates, search results, place marks and directions are all
                                    honored by Timeline. Timeline supports roadmap, hybrid, satellite and terrain
                                    Google Maps, as well as directions, places, and Streetview maps.</dd>

                                <dt>Instagram</dt>
                                <dd>Use the URL for the <a href="http://www.instagram.com">Instagram</a> photo's page.
                                </dd>

                                <dt>Flickr</dt>
                                <dd>Use the URL for the <a href="http://www.flickr.com">Flickr</a> photo's page. The
                                    shortened link provided in the share menu (e.g.
                                    <code>https://flic.kr/p/sv3VN6</code>) will also work.</dd>

                                <dt>Imgur</dt>
                                <dd>Use the URL for the <a href="http://imgur.com">Imgur</a> photo's page. Please note
                                    that we have received an incresing number of support requests due to restrictions
                                    Imgur is placing on content served. If Imgur is serving a 403 error to Timeline in
                                    lieu of your image, this cannot be fixed on our end, you will need to contact Imgur
                                    support.</dd>


                                <dt>DocumentCloud</dt>
                                <dd>Use the URL of the <a href="http://www.documentcloud.org">Document Cloud</a>
                                    document's page.</dd>

                                <dt>Wikipedia</dt>
                                <dd>Use the URL of the <a href="https://en.wikipedia.org/">Wikipedia</a> article's page.
                                </dd>

                                <dt>Storify</dt>
                                <dd>Use the URL of the <a href="http://www.storify.com">Storify</a>.</dd>

                                <dt>iframe</dt>
                                <dd>Instead of a URL, you can use <code>&lt;iframe&gt;</code> markup. This is a good
                                    general workaround to embedding media types that the Timeline doesn't handle directly.
                                </dd>

                                <dt>Blockquote</dt>
                                <dd>Instead of a URL, you can use <code>&lt;blockquote&gt;</code> tags around whatever
                                    text you want to quote.</dd>

                                <dt>Wistia</dt>
                                <dd>Use the URL of the <a href="https://wistia.com">Wistia</a> video. You can find this
                                    in either the "Social Sharing" or "Embed Code" tab of your video.</dd>
                            </dl>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer justify-content-center">
                            <button class="btn btnGreen" data-dismiss="modal">Done</button>
                        </div>

                    </div>
                </div>
            </div>
            <label for="media_url">Enter one URL:</label>
            <input type="url" class="form-control col-md-8 col-lg-5" id="media_url" placeholder="Enter a URL"
                name="media_url">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input id="capCheck" class="form-check-input" type="checkbox"> Add Caption?
            </label>
        </div>
        <div style="display: none;" id="cap" class="form-group">
            <label for="caption">Caption:</label>
            <input type="text" class="form-control col-md-6 col-lg-4" id="caption" placeholder="Enter a caption"
                name="caption">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input id="credCheck" class="form-check-input" type="checkbox"> Add Credits?
            </label>
        </div>
        <div style="display: none;" id="cred" class="form-group">
            <label for="credit">Credit:</label>
            <input type="text" class="form-control col-md-6 col-lg-4" id="credit" placeholder="Enter a credit"
                name="credit">
        </div>
        <!-- <div class="form-group mb-4">
          <label for="backgroundImage">Background Image:</label>
          <input type="url" class="form-controlcol-md-8 col-lg-6" id="backgroundImage" placeholder="Enter a URL" name="backgroundImage">
  </div> -->
        <button type='submit' value='Save' class="btn btnGreen">Submit</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#capCheck").click(function () {
            if ($("#capCheck").prop("checked")) {
                $("#cap").show();
            } else {
                $("#cap").hide();
            }
        });
        $("#credCheck").click(function () {
            if ($("#credCheck").prop("checked")) {
                $("#cred").show();
            } else {
                $("#cred").hide();
            }
        });
        $("#endCheck").click(function () {
            if ($("#endCheck").prop("checked")) {
                $("#end").show();
            } else {
                $("#end").hide();
            }
        });
    });
</script>

</br>
</br>
</br>
{% endblock content %}