
:root {
  --Donar_Brown: #372416;
  --Fall_Donor: #E58E3D;
  --Fall_Brown: #715437;
  --Fall_Green: #686144;
  --KRCL_White: #F9F6DC;
  --Side1: #F5B44F;
  --Side2: #080809;
  --navTabs: #E8CE0E;
}

body {
  background: var(--KRCL_White);
  font-family: Georgia, sans-serif;
  line-height:1.6em;
}

/* btn.a {
  background-color: var(--Fall_Donor);
  border-radius: 55px;
  border-color: #ffffff;
} */
.navbar {
  background: var(--Side2);
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 30px;
  padding-bottom: 15px;
  font-size: 16px;
}

.navbar-nav > li > a {
  padding: 5px 10px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-nav > li > a:hover{
	background-color: var(--navTabs);
  color: #333;
}

 .navbar-nav > .active > a,
 .navbar-nav > .active > a:hover,
 .navbar-nav > .active > a:focus,
 .navbar-nav > .open > a,
 .navbar-nav > .open > a:hover,
 .navbar-nav > .open > a:focus {
  background-color: var(--navTabs);
  color: #333;
}

a {
  color: var(--navTabs);
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

#footer {
  padding-top: 30px;
  color: #fff;
  background: #000;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: var(--navTabs);
}

.footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  background-color: rgba(126, 126, 126, 0.2);
  text-align: center;
  font-size: .9rem;
}

/* #footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
} */